body {
    background-color: #1f2029;
    color: #e8eaeb;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
h1 {
    font-family: 'Monstserrat', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
p {
    color: #e8eaeb;
}
button,
.button {
    background-color: #5e5f9a;
    color: #e8eaeb;
    border: none;
    border-radius: 6px;
    padding: 16px 21px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}
input {
    font-size: 1em;
}
a,
.link {
    color: #5783bf;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.13s ease-in-out;
}
a:hover,
.link:hover {
    text-decoration-color: #5783bf;
}
.logout {
    float: right;
}

.h-center-text {
    margin-top: 30px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

.act-container {
    align-items: stretch;
    flex: 1;

    border: #e8eaeb solid 2px;
    border-radius: 10px;
    position: relative;
    margin: 10px;
    user-select: none;
    background-color: #393b4d;

    min-width: 250px;
    max-width: 250px;

    .act-photo {
        display: flex;
        justify-content: center;
    }

    .act-photo img {
        display: block;
        max-width: 250px;
        max-height: 250px;
        border-radius: 10px;
    }

    .info {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 15px;

        .name-stage {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;

            .name {
                font-weight: bold;
                font-size: large;
                margin: 0;
                padding-right: 5px;
                text-align: left;
            }
            .stage {
                font-size: medium;
                float: right;
                padding-left: 5px;
                margin: 0;
                text-align: right;
            }
        }

        .timing {
            text-align: center;
            font-size: medium;
        }
    }

    &.selected {
        /* Styles for the selected overlay */
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity as needed */
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 3em;
            border-radius: 10px; /* Adjust the border radius as needed */
            content: '\2713'; /* Unicode character for checkmark */
        }
    }
}

.act-container.matching {
    border-color: #19de19;
    border-width: 3px;
}

.act-container.clashing {
    border-color: #da1717;
    border-width: 3px;
}

.next-page-sticky {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 50px;
    font-size: x-large;
}
